<html>
    <head>
        <title>
            LHS Home
        </title>
        <link rel="stylesheet" type="text.css" href="static\style.css">
    </head>
    <body>
        Welcome<br><br>
        <a href="http://127.0.0.1:8001/marks" target="_self"><h3>Marks</h3></a>
        <a href="http://127.0.0.1:8001/fees" target="_self"><h3>Fees</h3></a>
        <!--<h3>Terminate Session</h3>
        <a href="http://127.0.0.1:8001/kill" target="_self">Kill</a><br>
        {{killoutput}}<br>-->
    </body>
</html>